* {
 font-family: 'Bai Jamjuree', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navSideIcon{
  font-size: 40px;
}
a
{
    color: #ffffff!important;
}
.ModelScooterBlock{font-weight:normal;text-decoration:none;color: black!important;}
.insidenav{
  margin: -18px -12px;
  position: fixed;
}
.logoScooter{
  align-items: center;
  width:150px;
}
.logoScootersmall{
  height: 50px;
}
.logotxt{
  font-size: 30px;
}
.modelwrapper{
  height: 100%;
  width: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-block{
  overflow: hidden;
}
.ModelScooterBlock{
  width: 400px;
}
.ModelScooterWrapper{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
        overflow-y: hidden;
        
}

.ModelScooterBlockImg{
  width:100%;
  
}
.ModelScooterBlockDescription{
  width:inherit;
  padding: 10px;
}
.centerall{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
 
}